<mat-toolbar>
  <mat-form-field>
    <mat-icon>search</mat-icon>

    <input
      matInput
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="searchUsers()"
      placeholder="Search by name"
    />
  </mat-form-field>
</mat-toolbar>
<mat-card *ngFor="let user of filteredUsers" class="card">
  <mat-card-header class="card-header">
    <mat-card-title>User</mat-card-title>
    <mat-card-subtitle>Details</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>{{ user.name }}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-button (click)="FunctionLog(user)">Detail page</button>
    <button mat-button (click)="FunctionDelete(user.id)">Delete</button>
    <button mat-button (click)="FunctionUpdate(user)">Update</button>
  </mat-card-actions>
</mat-card>
