<div class="dashboard">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>Dashboard</mat-card-title>
      <mat-card-subtitle *ngIf="user$ | async as user">
        Welkom, {{ user.name }}!
      </mat-card-subtitle>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>

      <mat-card-subtitle>
        <p>Welcome to the dashboard!</p>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="card-content">
      <mat-card-content>
        <p>Open</p>
      </mat-card-content>
      <mat-card-content>
        <p>Factuur</p>
      </mat-card-content>
      <mat-card-content>
        <p>Artikelen</p>
        <p>100</p>
      </mat-card-content>
      <mat-card-content>
        <p>Klant</p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
