<mat-toolbar class="menu-bar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of MenuList" [routerLink]="item.url">
      {{ item.name }}
    </button>
  </mat-menu>
  <span routerLink="/" class="app-name">My App</span>

  <div class="icons-right">
    <button mat-icon-button (click)="openLoginDialog()">
      <mat-icon>person</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="colorPalette">
      <mat-icon>palette</mat-icon>
      <mat-menu #colorPalette="matMenu" xPosition="before">
        <button
          mat-menu-item
          *ngFor="let item of colorList"
          (click)="setTheme(item)"
        >
          {{ item.theme }}
        </button>
      </mat-menu>
    </button>
    <button mat-icon-button *ngIf="user$ | async as user" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button routerLink="/order">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <!--
    <app-cart-preview></app-cart-preview>
    -->
  </div>
</mat-toolbar>
