<h2 mat-dialog-title>Log In</h2>
<mat-dialog-content> Please enter your email and password </mat-dialog-content>
<form [formGroup]="profileForm">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      required
      placeholder="Enter your email"
    />
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <mat-icon matSuffix>lock</mat-icon>
    <input
      matInput
      placeholder="Enter your password"
      type="password"
      formControlName="password"
    />
  </mat-form-field>
</form>

<mat-dialog-content> No account yet?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    mat-dialog-close
    [disabled]="!profileForm.valid"
    (click)="Login()"
  >
    Login
  </button>
</mat-dialog-actions>
