<h2 mat-dialog-title>Update</h2>
<form [formGroup]="updateForm">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      required
      placeholder="Enter your email"
    />
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="name"
      required
      placeholder="Enter your name"
    />
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-label>address</mat-label>
    <input
      matInput
      formControlName="address"
      required
      placeholder="Enter your address"
    />
    <mat-icon matSuffix>home</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone number</mat-label>
    <input
      matInput
      formControlName="phone"
      required
      placeholder="Enter your phone"
    />
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <mat-icon matSuffix>lock</mat-icon>
    <input
      matInput
      placeholder="Enter your password"
      type="password"
      formControlName="password"
    />
  </mat-form-field>
</form>

<mat-dialog-content></mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
  <button
    mat-button
    mat-dialog-close
    (click)="onUpdate()"
    [disabled]="!updateForm.valid"
  >
    Update
  </button>
</mat-dialog-actions>
